<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <%= submit_tag "Add Comment", :type =>  "button", :id => "addComment", :onclick => 'addCommentField()' %>

  <br />
    <div id="commentsHeader" style="display:none"> Comments: </div>
    <ul id="myList">
    </ul>
  
  <div class="actions">
    <%= form.submit "Inserir Post" %>
  </div>
<% end %>
