<h1>Editing Post</h1>

<%#= render 'form', post: @post %>
<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <%= form.fields_for :comments do |comments_form| %> 
	<li>
		<%= comments_form.label :text %>
		<%= comments_form.text_field :text, id: :comment_text %>
	</li>
  <% end %>
  
  <div class="actions">
    <%= form.submit "Inserir Post" %>
  </div>

<% end %>



<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
